.outer{
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner{
  width: 400px;
  height: auto;
  padding: 10px;
  border: 1px solid var(--baseColor);
  border-radius: 5px;
}
button{
  width: 100%;
}
p{
  text-align: center;
}
