@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap');
:root{
  --baseColor: #d35400
}

* {
  font-family: 'Martian Mono', monospace;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: darkgrey;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--baseColor);
}
